body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    min-height: 102vh;
    animation: body-animation 30s infinite;
}

.container {
    width: 90%;
    padding: 1rem;
    align-items: center;
    margin: auto;
}

section {
    width: 80%;
    margin: auto;
}

/* Header Styles */
header {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a.active {
    color: #eb770a;
    font-weight: bold;
}

header ul li a:hover {
    background-color: #ddd;
    color: black;
    padding: 5px;
}

/* for cards */
.popularPack {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: auto;
    align-items: center;
}

.card {
    padding: 1rem;
    border: 2px solid var(--maincolor);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 320px; /* Adjusted height */
    width: 245px; /* Adjusted width */
}

.cimg {
    width: 100%;
    height: auto;
    position: relative;
}

.cimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.card-body {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.card-title {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}

.card-buttons {
    position: absolute;
    top: 44%;
    right: 35%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    align-items: center;
}

.card-buttons button {
    margin-left: 5px;
    padding: 8px 16px;
    background-color: #d66500;
    color: white;
    border: none;
    cursor: pointer;
}

.card:hover .card-buttons {
    opacity: 1;
}

.btn-field {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-field button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-field button.active {
    background-color: #d66500;
    color: #fff;
}

.btn-field button:hover {
    background-color: #555;
}

.package-list {
    margin: 20px;
    font-family: 'Roboto', sans-serif;
}

.package-list h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.package-list table {
    border-collapse: collapse;
    width: 100%;
}

.package-list th,
.package-list td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #444;
}

.package-list th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.package-list tr:nth-child(even) {
    background-color: #f9f9f9;
}

.package-list tr:hover {
    background-color: #f1f1f1;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin: 4px 2px;
}

.button:hover {
    background-color: #0069d9;
}

.edit {
    background-color: #005eff;
}

.edit:hover {
    background-color: #0a0454;
}

.delete {
    background-color: red;
}

.delete:hover {
    background-color: #821a23;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

input[type="text"], textarea, input[type="file"], input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
